<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhWqwXiz2ay51fOYKbc3OTFB97Rdp6rZo</string>
	<key>GCM_SENDER_ID</key>
	<string>591696846659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAi</string>
	<key>PROJECT_ID</key>
	<string>chat-gemini-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-gemini-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591696846659:ios:d68321afa8d6a13b2119f6</string>
</dict>
</plist>